{	"MANIFEST":
	{	"PACKAGES":
		[
			{	"Name":"AHK-Script-Slim"
			,	"Authors":[{"VxE":""}]
			,	"Version":"0.00.01"
			,	"Category":"Applications"
			,	"Info":
				[
					{	"Language":"EN-US"
					,	"Title":"Script Library Install Manager"
					,	"Pitch":"(none)"
					,	"Description":"(none)"
					,	"License":"(none)"
					,	"GuiText":
						{	"filter":"Filter:"
						,	"pgk_lv_hdr":"Title|Version|Author|Status|Checked|Manifest Date"
						,	"requirements":"Requirements"
						,	"ignore_reqs":"Ignore Requirements"
						,	"install":"Install"
						,	"update":"Update"
						,	"goweb":"Visit Website"
						,	"uninstall":"Uninstall"
						,	"purge":"Purge"
						}
					}
				]
			,	"Actions":
				[
					{	"cmd":"install"
					,	"enabled":1
					}
				,	{	"cmd":"update"
					,	"enabled":1
					}
				,	{	"cmd":"goweb"
					,	"enabled":1
					}
				,	{	"cmd":"uninstall"
					,	"enabled":1
					}
				,	{	"cmd":"purge"
					,	"enabled":1
					}
				]
			,	"Files":
				{	"SLIM.ahk":{"Source":".\"}
				,	"slim.slim":{"Source":".\"}
				,	"SLIM data":{"Source":".\"}
				}
			}
		]
	}
}